<ion-footer>
  <ion-toolbar color="tertiary" >
    <div class="ion-text-center">
      <h3>Aplicaciones Moviles</h3>
     Desarrollo de Software
      <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
        <ion-fab-button>
          <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button><ion-icon name="logo-Instagram"></ion-icon></ion-fab-button>
          <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div> 
  </ion-toolbar> 
</ion-footer>
