<ion-header>
  <ion-toolbar color="tertiary">
      <ion-title>{{titulo}}</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="inicio"></ion-back-button>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>
