<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-text color="secondary">
        <h1>Componentes</h1>
    </ion-text>
    <ion-button color="danger" [routerLink]="[ '/alert' ]">Alert</ion-button>
    <ion-button color="success" [routerLink]="[ '/action' ]">Action Sheet</ion-button>
    <ion-button color="tertiary" [routerLink]="[ '/alert' ]">Hola Mundo</ion-button>
</ion-content>

<app-footer></app-footer>

